<h1 class="center">{{ title }}</h1>
<div class="container">
  <div class="row">
    <div *ngFor="let country of listCountries" class="col s6 m4" >
      <div class="card horizontal">
        <div class="card-image">
          <img [src]="country.flag" style="width: 60px; height: 60px;"/>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ country.name }}</p>
            <p>
              <small>{{ country.capital }}</small>
            </p>
            <span *ngFor="let language of country.languages">{{ language.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
